.container {
background-color: blueviolet;
padding: 20px;
border-radius: 8px;
width: 400px;
margin: 50px auto;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
margin-bottom: 20px;
}

.form {
display: flex;
gap: 10px;
margin-bottom: 20px;
}

input {
flex: 1;
padding: 10px;
border-radius: 4px;
border: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {

    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.btn {
    background-color: #1E1E1E;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn.btn2 {
    padding: 10px 10px;
    font-size: 14px;
}

.btn:hover {
    background-color: gray;
}
