<div class="plants-container">
        <div class="text">
            <h3>Best Selling <br>Plants</h3>
            <p>Easiest way to <br>
            healthy life by buying <br>
            your favorite plant</p>
            <button onclick="location.href='#products'" type="button">See more</button>
        </div>
        <div class="plant-details">
            <div class="plants-img">
                <img src="./assets/images/aloe-vera.png" alt="Aloe Vera plant" class="plant">
                <img src="./assets/images/vine.png" alt="Vine plant" class="plant">
                <img src="./assets/images/cactus.png" alt="Cactus plant" class="plant">
            </div>

            <div class="plant-names">
                <p class="name">Natural Plant</p>
                <p class="name">Artificial Plant</p>
                <p class="name">Natural Plant</p>
            </div>

        <div class="plant-price">
            <p class="price">$500.00</p>
            <p class="price">$500.00</p>
            <p class="price">$500.00</p>
            </div>
        </div> 
</div> <!--plants container div-->
