<div class="container">
    <h3>Update post</h3>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="posttitle">
            <label for="title" class="form-label">Title</label>
            <input id="title" class="form-control" formControlName="title" />
        </div>

        <div class="postbody">
            <label for="body" class="form-label">Body</label>
            <textarea id="body" class="form-control" formControlName="body"></textarea>
        </div>

        <button class="btn" type="submit" [disabled]="postForm.invalid">Submit</button>
    </form>
</div>
