body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

h1 {
    color: black;
    margin-bottom: 20px;
}

form {
    display: inline-block;
    text-align: left;
    padding: 15px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    background-color: whitesmoke;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: grey;
    color: white;
    border: none;
}

button:hover {
    background-color: green;
}

#searchInput {
    width: 300px;
    margin-bottom: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 70%;
}

table, th, td {
    border: 1px solid gainsboro;
}

th {
    background-color: whitesmoke;
}

td, th {
    padding: 8px;
    text-align: center;
}

.editBtn {
    background-color: gray;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.deleteBtn {
    background-color: gray;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.editBtn:hover {
    background-color: blue;
}

.deleteBtn:hover {
    background-color: red;
}